/* Header */
.cb-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    
    div {
        display: flex;
        width: 173px;
    }

    @media #{$brk-tablet} {
        margin-top: 4rem;
        margin-bottom: 3.25rem;
        margin-left: 2.25rem;
        justify-content: flex-start;

            div {
                width:317px;
            }
    }
}

.hero-img-container {
    width: 100%;
    // min-width: 300px;
    // height: 201px;
    // background: url("../assets/hero-321x201.jpg") no-repeat center;
    img {
        width: 100%;
    }
}
