/* Variables */
//colors
    $color-dark-green   : #00945f;
    $color-lime-green   : #8dac4a; 
    $color-pale-green   : #ebf7f5;
    $color-orange       : #e97300;
    $text-color         : #888888;
    $text-color-dark    : #666666;

//media query breakpoints
    $brk-tablet     : '(min-width: 768px)';
    $brk-desktop    : '(min-width: 1024px)';